*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	
}
h2, p, li, a {
	color: #70016E;
}
img {
	border-radius: 20px;
}
.container{
	max-width: 1600px;
	width: 100%;
	padding: 0px 230px;
	margin: 0 auto;
}
body {
	background-color: #180113;
}
.header{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 47px 0px 47px;
}
.menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu ul{
	list-style: none;
	display: flex;
}
.menu ul li{
	margin: 0px 25px;
}
.menu ul a{
	text-decoration: none;
}
.menu>a{
	text-decoration: none;
	padding: 14px 35px;
	background-color: #C9453B;
	border-radius: 5px;
}
.yerevan-title{
	margin: 50px 0px;
}
.yerevan-title p{
	font-size: 20px;
	line-height: 40px;
	margin-top: 20px;
}
.opera img{
	width: 100%;
}
.yerevan-center-p{
	padding: 0px 20px 0px 0px;
}
.yerevan-center-p h2{
	margin-bottom: 10px;
}
.yerevan-center>div{
	width: 50%;
}
.yerevan-center-img img{
	width: 100%;
}
.yerevan-center{
	display: flex;
	margin-top: 40px;
}

.kuala-lumpur-title{
	margin: 50px 0px;
}
.kuala-lumpur-title p{
	font-size: 20px;
	line-height: 40px;
	margin-top: 20px;
}
.kuala-lumpur-img img{
	width: 100%;
}
.kuala-lumpur-center-p{
	padding: 0px 20px 0px 0px;
}
.kuala-lumpur-center-p h2{
	margin-bottom: 10px;
}
.kuala-lumpur-center>div{
	width: 50%;
}
.kuala-lumpur-center-img img{
	width: 100%;
}
.kuala-lumpur-center{
	display: flex;
	margin-top: 40px;
}

.seoul-title{
	margin: 50px 0px;
}
.seoul-title p{
	font-size: 20px;
	line-height: 40px;
	margin-top: 20px;
}
.seoul-img img{
	width: 100%;
}
.seoul-center-p{
	padding: 0px 20px 0px 0px;
}
.seoul-center-p h2{
	margin-bottom: 10px;
}
.seoul-center>div{
	width: 50%;
}
.seoul-center-img img{
	width: 100%;
}
.seoul-center{
	display: flex;
	margin-top: 40px;
}

.footer{
	padding: 70px 0px 78px;
	background-color: rgba(38, 148, 153, 0.04);

}
.footer-travland{
	width: 17%;
	display: flex;
	flex-direction: column;
}
.footer li{
	color: black;
	list-style: none;
	margin: 10px 0px;
}
.footer-travland h2{
	margin-bottom: 10px;
}
.icon{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.footer-full{
	display: flex;
	justify-content: space-between;
}
.footer-input input{
	border: 1px solid silver;
	height: 44px;
	padding: 10px 20px;
	outline: none;
}
.footer-input h3{
	margin-bottom: 30px;
}
.footer-input{
	display: flex;
	flex-direction: column;
}
.inp{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.inp a{
	text-decoration: none;
	padding: 12px 32px;
	background-color: #C9453B;
	color: white;
	margin: 10px;
	border-radius: 5px;
}
.footer-travland a{
	text-decoration: none;
	color: black;
}
.services{
	width: 17%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.services a{
	text-decoration: none;
	color: black;
}
	.span{
	transition-duration: 0.8s;
	margin-bottom: 10px;
	}
	.menu-mobile ul{
		list-style: none;
		color: white;
		transform: translateX(-400px);
		transition-duration: 0.8s;
	}
	.menu-mobile{
		margin-top: 20px;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		display: none;
	}



@media screen and (max-width: 800px){
	
	.menu>ul{
		display: none;
	}
	.menu-mobile {
		display: block;
	}
	.menu-mobile ul li a{
		text-decoration: none;
		color: white;
	}
	.ul-display{
		transform:translate(0px) !important;
	}
	.rotate{
		transform: rotate(90deg);
	}
	.span{
		display: flex;
		flex-direction: column;
	}
	.span span{
		width: 40px;
		height: 5px;
		margin: 2px;
		background-color: black;
	}
	.menu a{
		padding: 5px 10px;
	}


}